<div class="jumbotron">
	<h2>Добро пожаловать!</h2>
	<h3>Поможем тебе слелить за делами.</h3>
	<%= link_to "Регистрация", new_user_registration_path, class: "btn btn-primary" %>
	<%= link_to "Вход", new_user_session_path, class: "btn btn-primary" %>
</div>